.background-coloring {
    background-color: rgb(10, 10, 24);
}

.centered-heading {
    text-align: center;
    color: #ffffff;
}

.text-coloring {
    color: #cecdcd;
}

.text-sizing {
    font-size: 21px;
}

.resized-card-image {
    width: auto;
    height: 200px;
}

.card-bg-coloring {
    background-color: rgb(16, 16, 32);
}

.pauseResumeBtn {
    position: absolute;
    top: 3%;
    right: 11%;
}

.fullScreenBtn {
    position: absolute;
    bottom: 3%;
    right: 11%;
}

.canvas-container {
    position: relative;
}

.home-card {
    cursor: pointer;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.1s ease-in-out;
}

.home-card:hover {    
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.75);
}

canvas {
    height: 100%;
    background-color: rgb(0, 0, 24);
    display: block;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 30px;
}